h1{
	font-family: 'Sacramento', cursive;
	color: #e3acb1;
	font-size: 3.5rem;
	text-align:center;
}

h2{
	font-family: 'Sacramento', cursive;
	color: #e3adb1;
	font-size: 2rem;
	margin-bottom:2%;
}
p{
	font-family: 'Lato', sans-serif;
	color:black;
	font-size: 1.5rem;
}
header {
	text-align: center;
	bkackground-color:#800000;
	padding:1rem;
}
nav {
	background-color:#ac768e;
	margin-bottom:0;
	padding-bottom:0;

}
nav ul {
	list-style-type:none;
	text-align:center;
	padding:2%;
}
	
nav ul li a {
	color:white;
	text-decoration:none;
}
	


nav ul li {
	
	display:inline;
	font-size:1.75rem;
	font-family: 'Lato', sans-serif;
	color:white;
	padding: 3%;

}

section {
	border:solid;
	border-width: 1%;
	border-color:white;
	padding:1rem;
	margin-top:0;
}

figure img {
	width: 100%;
	height: auto;
	max-width: 600px;
	display: block;
	margin: 0 auto;
}
/*
.larger figure img {
width: 600px;
height: 600px;
margin-top:0;
padding-top:0;
margin-bottom:1%;
}
*/

.larger {
	display:flex;
	justify-content:center;
	align-items: center;
	margin: 20px 0;

}

figcaption {
	text-align: center;
	font-family: Sacramento, cursive;
	font-size:1.9rem;
	color:pink;
	margin-top: 3%;
}

Figure {
	display:: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3% auto;
	max-width: 600px;
	padding: 3%;
}

	.bigger {
		display: flex;
		flex-wrap:wrap;
		justify-content:center;
		gap:20px;
		margin:20px;
	}
	
	.image-item{
		display:flex;
		flex-direction:column;
		align-items:center;
		text-align:center;
		width:100%;
	}
	
	.image-item img {
		max-width: 100%;
		height: auto;
	border-radius: 8px;
	}
	
	.gallery {
		display:blck;
		text-align:center;
	}
	
Footer{
	border: solid 3%;
	border-width:3%;
	border-color:#ac768e;
	background-color:#ac768e;
	text-align:center;
	padding:3%;
}

footer p {
	color:white;
	font-size: 0.8rem;
}

@media (min-width: 768px) and (max-width: 1023px) {

	h1 {
		color:  #e3acb1;

	}
	.gallery{
		display:flex;
		justify-content: space-around;
		align-items: flex-start;
	}
	
	.gallery figure {
		width:30%;
	}
	
	
	h2 {
		color:#e3adb1;
		width:100%;
		text-align: center;
	}
	article h2, article p {
		text-align: center;
		,argin :0 auto;
		max-width: 800px
	}
	
	article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2%;
	}
	nav {
		background-color:#ac768e;
	}
	nav ul li {
		font-size: 1.25rem
	}
	
	.bigger .image-item {
		width: calc(50% - 20 px);
	}

	footer{
		border-color: #ac768e;
	}


footer p {
	color:white;
	font-size: 0.8rem;
}

 .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.bigger::after {
  content: "";
  clear: both;
  display: table;
}

		.gallery{
			width:100%;
		display:flex;
		justify-content: space-between;
		align-items: flex-start;
		align-items: center;
		gap:20px;
		flex-wrap: wrap;
		padding: 20px;
		}
	.article .section .main {
		width:100%;
	}
	
	.gallery figure {
		width:10%;
		text-align: center;
	
	}


 
}


@media (min-width:1024px) {
	
	h1 {
		color:#e3acb1;
		font-size:5rem;
	}
	h2 {
		color:#e3adb1;
		font-size:3rem;
	}
	p {
		font-size:1.25rem
	}
	nav {
		background-color: #ac768e;
	}
	nav ul li {
		font-size: 1.25rem
	}
		.gallery{
			width:100%;
		display:flex;
		justify-content: space-between;
		align-items: flex-start;
		align-items: center;
		gap:20px;
		flex-wrap: wrap;
		padding: 20px;
		}
	.article .section .main {
		width:100%;
	}
	
	.gallery figure {
		width:15%;
		text-align: center;
	
	}
	
	.larger {
width:100%;
height: auto;
overflow:visible;
margin:0;
padding:0;
position:relative;
overflow:visible;

}
	
	.larger img {
max-width: 100%;
max-height: 100vh;
object-fit:overflow;

}

.img-banner {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position absolute;
	top:0;
	left:0;
}
.article .section .main {
		width:100%;
		height:auto;
		overflow:visible;
	}
	
	
footer p {
	color:white;
	font-size: 1rem;
}

.imagesize {
	width:900px
	
	
	/*
	.gallery img {
		width: 100%;
		height: auto;
		max-height: 300px;
		object-fit:cover;
	*/
}