h1{
	font-family: 'Sacramento', cursive;
	color: teal;
	font-size: 3rem;
	text-align:center;
}

h2{
	font-family: 'Sacramento', cursive;
	color: teal;
	font-size: 2rem;
}
p{
	font-family: 'Lato', sans-serif;
	color:black;
	font-size: 1.5rem;
}
header {
}
nav {
	background-color:teal;
}
nav ul {
	list-style-type:none;
	text-align:center;
	padding:2%;
}
	

	


nav ul li {
	
	display:inline;
	font-size:1.75rem;
	font-family: 'Lato', sans-serif;
	color:white;
	padding: 3%;

}

section {
	border:solid;
	border-width: 3%;
	border-color:black;
	padding:3%;
}

figure img {
	width: 100%;
	height: auto;
	max-width: 600px;
	display: block;
	margin: 0;

Footer{
	border: solid;
	border-width:3%;
	border-color:teal;
	padding:3%;
}